/* Fonte:  https://dev.to/dcodeyt/creating-beautiful-html-tables-with-css-428l */

.viagensTable {
    border-collapse: separate;
    border-spacing: 0 10px;
    margin: auto;
    font-size: 1em;
    font-family: sans-serif;
    min-width: 400px;
}

.viagensTable th,
.viagensTable td {
    padding: 12px 15px;
    color: #274761
}

.viagensTable tbody tr {
    border-bottom: 1px solid #dddddd;
} 

/* https://stackoverflow.com/questions/10100169/border-radius-for-each-row-in-a-table */
td:first-child{
    border-radius:10px 0 0 10px;
}
td:last-child{
    border-radius:0 10px 10px 0;
}

td{background:#C3DFE4;}