/* Fonte:  https://dev.to/dcodeyt/creating-beautiful-html-tables-with-css-428l */

.viagensTable {
    border-collapse: separate;
    border-spacing: 0 10px;
    margin: auto;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
}

.viagensTable thead tr {
    color: #274761;
    text-align: left;
}

.viagensTable th,
.viagensTable td {
    padding: 12px 15px;
}

.viagensTable td {
    color: #274761
}

.viagensTable tbody tr {
    border-bottom: 1px solid #dddddd;
    background-color: #9cc2d0ff;
}

.viagensTable tbody tr:nth-of-type(even) {
    background-color: #9cc2d0ff;
}

.viagensTable tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.viagensTable tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}