<!DOCTYPE html>
<html lang="en">
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.15.2/axios.js"></script>

<head>
    <meta charset="UTF-8">
    <title>Formulário do Funcionário</title>

    <style>
        
    </style>

    <link rel="stylesheet" href="stylesheets/menu.css">
    <link rel="stylesheet" href="stylesheets/forms.css">
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">

</head>

<body>
    <div id="app">

        <headercomponent></headercomponent>

        <div class="menu">
            <form class="form" @submit.prevent>
                <div class="input">
                    <input class="input-field" type="text" id="cpf" v-model="cpf" required="">
                    <label class="input-label" for="cpf">CPF:</label>
                </div>

                <div class="input">
                    <input class="input-field" type="text" id="nome" v-model="nome" required="">
                    <label class="input-label" for="nome">Nome:</label>
                </div>

                <div class="input">
                    <input class="input-field" type="text" id="cargo" v-model="cargo" required="">
                    <label class="input-label" for="cargo">Cargo:</label>
                </div>

                <div class="input">
                    <input class="input-field" type="text" id="senha" v-model="senha" required="">
                    <label class="input-label" for="senha">Senha:</label>
                </div>

                <div class="buttons">
                    <button class="button-35" @click="doInserir">Inserir</button>
                    <button class="button-35" @click="doEditar">Editar</button>
                    <button class="button-35" @click="doRemover">Remover</button>
                    <button class="button-35" @click="doListar">Listar Funcionários</button>
                </div>

                {{ mensagem }}

            </form>

        </div>
    </div>

    <script type="module">

        function isFormsEmpty() {
            // Verifica se os campos do formulário estão vazios
            const listaDeItens = [app.cpf, app.nome, app.cargo, app.senha];
            for (var item in listaDeItens) {
                if (item == undefined || item.length === 0)
                    return true;
            }
            return false;
        }

        async function goToFuncionarios() {
            // do nothing
        }

        async function inserir() {

            if (isFormsEmpty()) {
                app.mensagem = "Campos não preenchidos de forma devida.";
                return;
            }

            // Encapsular os dados da requisição e cria a requisição
            // POST com o axios
            var data = {
                "cpf": app.cpf,
                "nome": app.nome,
                "senha": app.senha,
                "cargo": app.cargo
            };
            var request = axios({
                "method": "post",
                "url": "/funcionarios",
                "data": data
            });

            // Realizar requisição de forma assíncrona
            try {
                var response = await request
                app.mensagem = response.data.resultado;
            } catch (error) {
                app.mensagem = response.data.resultado;
            }
        }

        async function editar() {
            if (isFormsEmpty()) {
                app.mensagem = "Campos não preenchidos de forma devida.";
                return;
            }

            // Percorre todos os elementos e remove quais estão vazios
            var novosDados = { cpf: app.cpf, nome: app.nome, cargo: app.cargo, senha: app.senha };
            for (var chave in novosDados) {
                if (novosDados[chave] == undefined || novosDados[chave].length === 0) {
                    delete novosDados[chave];
                }
            }

            // Se não sobrar nenhum elemento, mostra erro
            if (keys(novosDados).length === 0) {
                app.mensagem = "Campos não preenchidos de forma devida.";
                return;
            }

            // Atualiza as novas informações
            var data = {
                "cpf": app.cpf,
                "novosDados": novosDados,
            };

            // Prepara a requisição
            var request = axios({
                "method": "put",
                "url": "/funcionarios/" + app.cpf,
                "headers": { "Content-Type": "application/json" },
                "data": data
            });

            // Faz a requisição
            try {
                var response = await request
                app.mensagem = response.data.resultado;
            } catch (error) {
                app.mensagem = "O usuário autenticado não está autorizado a fazer modificações";
            }
        }

        async function remover() {
            if (app.cpf == undefined || app.cpf.length == 0) {
                app.mensagem = "preencha o cpf do funcionário";
                return;
            }

            var data = {
                "cpf": app.cpf,
            };

            var request = axios({
                "method": "delete",
                "url": "/funcionarios/" + app.cpf,
                "data": data
            });
            try {
                var response = await request
                app.mensagem = response.data.resultado;
                app.payload = response;
            } catch (error) {
                app.mensagem = "O usuário autenticado não está autorizado a fazer modificações";
            }
        }

        async function listar() {
            var request = axios({
                "method": "get",
                "url": "/funcionarios/all"
            });

            try {
                var response = await request
                app.mensagem = response.data.funcionarios;
                app.payload = response;
            } catch (error) {
                app.mensagem = "O usuário autenticado não está autorizado a fazer modificações";
            }
        }

        import header from "./vue/headerAdmin.js";
        Vue.component("headercomponent", header);

        // Criando appVue
        var app = new Vue({
            el: '#app',
            data: {
                cpf: "",
                nome: "",
                cargo: "",
                senha: "",
                mensagem: ""
            },
            methods: {
                doInserir: inserir,
                doEditar: editar,
                doRemover: remover,
                doGoToFunc: goToFuncionarios,
                doListar: listar,
            },
        })
    </script>

</body>

</html>