<!DOCTYPE html>
<html lang="en">
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.15.2/axios.js"></script>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>

    <style>
        h1 {
            color: #274761;
            text-align: center;
            font-size: 3em;
        }

        #login {
            background-color: #6e9ed3;
            /* Cor de fundo azul */
            color: #c3dfe4;
            /* Cor do texto branco */
            border: 2px solid #274761;
        }
    </style>

    <link rel="stylesheet" href="stylesheets/menu.css">

</head>

<body>
    <div id="app">

        <a href="." @click="doGoToHome">
            <h1>NOME DA EMPRESA</h1>
        </a>

        <div class="menu">
            <a class="link" @click="doGoToLogin">Login</a>
        </div>

        <br>

        <div class="menu">
            <p>Cadastro</p>

            <form @submit.prevent>
                <div>
                    <label for="cpf">Cpf:</label>
                    <input type="text" id="cpf" v-model="cpf" required>
                </div>

                <br>

                <div>
                    <label for="nome">Nome:</label>
                    <input type="text" id="nome" v-model="nome" required>
                </div>

                <br>

                <div>
                    <label for="senha">Senha:</label>
                    <input type="text" id="senha" v-model="senha" required>
                </div>

                <!-- <div>
                    <label for="confirmaSenha">Confirmar Senha:</label>
                    <input type="text" id="confirmaSenha" v-model="confirmaSenha" required>
                </div> -->

                <br>

                <button @click="doEnviar">Enviar</button>
                <button @click="doCancelar">Cancelar</button>

                <br>
            </form>

        </div>

    </div>

    <script>
        // Métodos
        async function goToLogin() {
            console.log("Redirecting...")

            window.open("/login", "_self");
        }

        async function goToHome() {
            console.log("Redirecting...")

            window.open("/", "_self");
        }

        async function enviar() {
            // Verificar se todos os campos estão devidamente preenchidos
            if (app.nome == undefined || app.nome.length == 0 ||
                app.senha == undefined || app.senha.length == 0 ||
                app.cpf == undefined || app.cpf.length == 0 ) {
                console.log("Campos não preenchidos de forma devida.");
                return;
            }

            // Encapsular os dados da requisição e cria a requisição
            // POST com o axios
            var data = {
                "cpf": app.cpf,
                "nome": app.nome,
                "senha": app.senha,
            };
            var request = axios({
                "method": "post",
                "url": "/cadastro",
                "data": data
            });

            // Realizar requisição de forma assíncrona
            try {
                response = await request
                console.log(response.data.resultado)
            } catch (error) {
                console.log(response.data.resultado)
            }
        }

        async function cancelar() {
            console.log("cancelar cadastro")
            window.open("/login", "_self");
        }

        // Criando appVue
        var app = new Vue({
            el: '#app',
            data: {
                nome: "",
                senha: "",
                cpf: ""
            },
            methods: {
                doGoToLogin: goToLogin,
                doEnviar: enviar,
                doCancelar: cancelar,
                doGoToHome: goToHome,
            }
        })
    </script>
</body>

</html>