<!DOCTYPE html>
<html lang="en">
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.15.2/axios.js"></script>

<head>
    <meta charset="UTF-8">
    <title>Formulário do Funcionário</title>

    <style>
        #employeeForm {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        #employeeForm div {
            margin: 10px;
        }
    </style>

    <link rel="stylesheet" href="stylesheets/menu.css">

</head>

<body>
    <div id="app">

        <h1>Formulário de Funcionários</h1>

        <div id="menu">
            <a class="link" @click="doGoToFunc">Funcionários</a>
        </div>

        <form id="employeeForm" @submit.prevent>
            <div>
                <label for="id">ID:</label>
                <input type="text" id="id" v-model="id">
            </div>

            <div>
                <label for="nome">Nome:</label>
                <input type="text" id="nome" v-model="nome">
            </div>

            <div>
                <label for="cargo">Cargo:</label>
                <input type="text" id="cargo" v-model="cargo">
            </div>

            <button @click="doInserir">Inserir</button>
            <button @click="doEditar">Editar</button>
            <button @click="doRemover">Remover</button>
            <button @click="doListar">Listar Funcionários</button>

            {{ mensagem }}

        </form>

    </div>

    <script>
        async function goToFuncionarios() {
            // do nothing
        }

        async function inserir() {
            // Verificar se todos os campos estão devidamente preenchidos
            if (app.id == undefined || app.id.length == 0 ||
                app.nome == undefined || app.nome.length == 0 ||
                app.cargo == undefined || app.cargo.length == 0) {
                app.mensagem = "Campos não preenchidos de forma devida.";
                return;
            }

            // Encapsular os dados da requisição e cria a requisição
            // POST com o axios
            var data = {
                "id": app.id,
                "nome": app.nome,
                "cargo": app.cargo
            };
            var request = axios({
                "method": "post",
                "url": "/funcionarios",
                "data": data
            });

            // Realizar requisição de forma assíncrona
            try {
                response = await request
                app.mensagem = response.data.resultado;
            } catch (error) {
                app.mensagem = response.data.resultado;
            }
        }

        async function editar() {
            if (app.id == undefined || app.id.length == 0) {
                app.mensagem = "preencha o ID do funcionário";
                return;
            }

            // Verifica campos do formulário
            if ((app.nome == undefined || app.nome.length == 0) &&
                (app.cargo == undefined || app.cargo.length == 0)) {
                app.mensagem = "preencha os campos que deseja editar";
                return;
            }

            var novosDados = {};
            if (app.nome !== undefined || app.nome.length !== 0)
                novosDados.nome = app.nome;
            if (app.cargo !== undefined || app.cargo.length !== 0)
                novosDados.cargo = app.cargo;

            // Atualiza as novas infromações
            var data = {
                "id": app.id,
                "novosDados": novosDados,
            };

            // Prepara a requisição
            var request = axios({
                "method": "put",
                "url": "/funcionarios/" + app.id,
                "headers": { "Content-Type": "application/json" },
                "data": data
            });

            // Faz a requisição
            try {
                response = await request
                app.mensagem = response.data.resultado;
            } catch (error) {
                app.mensagem = "O usuário autenticado não está autorizado a fazer modificações";
            }
        }

        async function remover() {
            if (app.id == undefined || app.id.length == 0) {
                app.mensagem = "preencha o ID do funcionário";
                return;
            }

            var data = {
                "id": app.id,
            };

            var request = axios({
                "method": "delete",
                "url": "/funcionarios/" + app.id,
                "data": data
            });
            try {
                response = await request
                app.mensagem = response.data.resultado;
                app.payload = response;
            } catch (error) {
                app.mensagem = "O usuário autenticado não está autorizado a fazer modificações";
            }
        }

        async function listar() {
            var request = axios({
                "method": "get",
                "url": "/funcionarios/all"
            });
            try {
                response = await request
                app.mensagem = response.data.alunos;
                app.payload = response;
            } catch (error) {
                app.mensagem = "O usuário autenticado não está autorizado a fazer modificações";
            }
        }



        // Criando appVue
        var app = new Vue({
            el: '#app',
            data: {
                id: "",
                nome: "",
                cargo: "",
                mensagem: ""
            },
            methods: {
                doInserir: inserir,
                doEditar: editar,
                doRemover: remover,
                doGoToFunc: goToFuncionarios,
                doListar: listar,
            },
        })
    </script>

</body>

</html>