<!DOCTYPE html>
<html lang="en">
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.15.2/axios.js"></script>


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>

    <link rel="stylesheet" href="stylesheets/menu.css">

</head>

<body>
    <div id="app">

        <headercomponent></headercomponent>

        <div class="menu">
            <p>Login</p>

            <form @submit.prevent>
                <div>
                    <label for="cpf">Cpf:</label>
                    <input type="text" id="cpf" v-model="cpf" required>
                </div>

                <br>

                <div>
                    <label for="senha">Senha:</label>
                    <input type="text" id="senha" v-model="senha" required>
                </div>

                <br>

                <button @click="doEnviar">Enviar</button>
                <button @click="doCancelar">Cancelar</button>

                <br>
                Clique para <a @click="doCadastrar" class="link">Fazer Cadastro</a>
            </form>

            {{ mensagem }}

        </div>

    </div>

    <script type="module">

        async function enviar() {
            if (app.senha == undefined || app.senha.length == 0 ||
                app.cpf == undefined || app.cpf.length == 0) {
                app.mensagem = "Campos não preenchidos de forma devida.";
                return;
            }

            // Encapsular os dados da requisição e cria a requisição
            // POST com o axios
            var data = {
                "cpf": app.cpf,
                "senha": app.senha,
            };
            var request = axios({
                "method": "post",
                "url": "/login",
                "data": data
            });

            // Realizar requisição de forma assíncrona
            try {
                var response = await request
                app.mensagem = response.data
                window.open("/", "_self");
            } catch (error) {
                app.mensagem = response.data
            }
        }

        async function cancelar() {
            window.open("/", "_self");
        }

        async function cadastrar() {
            window.open("/cadastro", "_self");
        }

        import header from "./vue/header.js";
        Vue.component("headercomponent", header);

        // Criando appVue
        var app = new Vue({
            el: '#app',
            data: {
                cpf: "",
                senha: "",
                mensagem: ""
            },
            methods: {
                doCadastrar: cadastrar,
                doEnviar: enviar,
                doCancelar: cancelar,
            }
        })
    </script>

    <script></script>
</body>

</html>