<!DOCTYPE html>
<html lang="en">
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.15.2/axios.js"></script>

<head>
    <meta charset="UTF-8">
    <title>Formulário de Viagem</title>

    <style>

    </style>

    <link rel="stylesheet" href="/stylesheets/menu.css">
    <link rel="stylesheet" href="/stylesheets/forms.css">
    <link rel="stylesheet" href="/stylesheets/listingTable.css">
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">

</head>

<body>
    <div id="app">

        <headercomponent></headercomponent>

        <div class="menu">
            <h2>Gerenciar Viagens</h2>

            <form class="form" @submit.prevent>
                <div class="input">
                    <input class="input-field" type="text" id="id" v-model="id" required="">
                    <label class="input-label" for="id">ID</label>
                </div>

                <div class="input">
                    <input class="input-field" type="text" id="partida" v-model="partida" required="">
                    <label class="input-label" for="partida">Partida</label>
                </div>

                <div class="input">
                    <input class="input-field" type="text" id="chegada" v-model="chegada" required="">
                    <label class="input-label" for="chegada">Chegada</label>
                </div>

                <div class="input data">
                    <input class="input-field" type="date" id="data" v-model="data" required="">
                    <label class="input-label" for="data">Data</label>
                </div>

                <div class="input">
                    <input class="input-field" type="text" id="maxPassageiros" v-model="maxPassageiros" required="">
                    <label class="input-label" for="maxPassageiros">Máximo de Passageiros</label>
                </div>

                <div class="buttons">
                    <button class="button-35" @click="doInserir">Inserir</button>
                    <button class="button-35" @click="doEditar">Editar</button>
                    <button class="button-35" @click="doRemover">Remover</button>
                    <button class="button-35" @click="doListar">Listar Viagens</button>
                    <!-- <br>
                    <button @click="doLimpar">Limpar</button>
                     -->
                </div>
            </form>

            {{ mensagem }}

            <div v-if="visibilidadeTab">
                <table class="listingTable">
                    <thead>
                        <tr>
                            <th> ID </th>
                            <th> Partida </th>
                            <th> Chegada </th>
                            <th> Data </th>
                            <th> Máx. Passageiros </th>
                            <th> Exibir Passageiros </th>
                            <th> Exibir Entregas </th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="tableEntry in tableData">
                            <td> {{ tableEntry.id }} </td>
                            <td> {{ tableEntry.partida }} </td>
                            <td> {{ tableEntry.chegada }} </td>
                            <td> {{ tableEntry.data.substring(0,10) }} </td>
                            <td> {{ tableEntry.maxPassageiros }} </td>
                            <td>
                                <button class="button-35" @click="doExibirPassageiros(tableEntry.id)">✔</button>
                            </td>
                            <td>
                                <button class="button-35" @click="doExibirEntregas(tableEntry.id)">✔</button>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <div v-if="visibilidadePassageiros">
                    <table class="listingTable2">
                        <thead>
                            <tr>
                                <th> CPF </th>
                                <th> Nome </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="passageiro in passageiros">
                                <td> {{ passageiro.cpf }} </td>
                                <td> {{ passageiro.nome }} </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div v-if="visibilidadeEntrega">
                    <table class="listingTable2">
                        <thead>
                            <tr>
                                <th> Nome </th>
                                <th> Volume </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="entrega in entregas">
                                <td> {{ entrega.nome }} </td>
                                <td> {{ entrega.volume }} </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>

    <script type="module">

        function hideTable() {
            app.visibilidadeTab = false;
            app.visibilidadePassageiros = false;
            app.visibilidadeEntrega = false;
        }

        function isFormsEmpty() {
            // Verifica se os campos do formulário estão vazios
            const listaDeItens = [app.id, app.partida, app.chegada, app.data.substring(0,10), app.maxPassageiros];
            for (var i = 0; i < listaDeItens.length; i++) {
                if (listaDeItens[i] == undefined || listaDeItens[i].length === 0)
                    return true;
            }
            return false;
        }

        async function inserir() {
            hideTable();

            if (isFormsEmpty()) {
                app.mensagem = "Campos não preenchidos de forma devida.";
                return;
            }

            // Encapsular os dados da requisição e cria a requisição
            // POST com o axios
            var data = {
                "id": app.id,
                "partida": app.partida,
                "chegada": app.chegada,
                "data": app.data.substring(0,10),
                "maxPassageiros": parseInt(app.maxPassageiros)
            };
            var request = axios({
                "method": "post",
                "url": "/viagens",
                "data": data
            });

            // Realizar requisição de forma assíncrona
            try {
                var response = await request
                app.mensagem = response.data.resultado;
            } catch (error) {
                app.mensagem = error.data.resultado;
            }
        }

        async function editar() {
            hideTable();

            if (app.id == undefined || app.id.length == 0) {
                app.mensagem = "preencha o id da viagem";
                return;
            }

            // Percorre todos os elementos e remove quais estão vazios
            var novosDados = { id: app.id, partida: app.partida, chegada: app.chegada, data: app.data.substring(0,10) };
            for (var chave in novosDados) {
                if (novosDados[chave] == undefined || novosDados[chave].length === 0) {
                    delete novosDados[chave];
                }
            }

            console.log(novosDados)

            if (app.maxPassageiros.length !== 0) {
                novosDados.maxPassageiros = parseInt(app.maxPassageiros);
            }

            // Se não sobrar nenhum elemento, mostra erro
            if (Object.keys(novosDados).length === 0) {
                app.mensagem = "Campos não preenchidos de forma devida.";
                return;
            }

            // Atualiza as novas informações
            var data = {
                "id": app.id,
                "novosDados": novosDados,
            };

            // Prepara a requisição
            var request = axios({
                "method": "put",
                "url": "/viagens/" + app.id,
                "headers": { "Content-Type": "application/json" },
                "data": data
            });

            // Faz a requisição
            try {
                var response = await request
                app.mensagem = response.data.resultado;
            } catch (error) {
                app.mensagem = error.response;
            }
        }

        async function remover() {
            hideTable();

            if (app.id == undefined || app.id.length == 0) {
                app.mensagem = "preencha o id da viagem";
                return;
            }

            var data = {
                "id": app.id,
            };

            var request = axios({
                "method": "delete",
                "url": "/viagens/" + app.id,
                "data": data
            });
            try {
                var response = await request
                app.mensagem = response.data.resultado;
                app.payload = response;
            } catch (error) {
                app.mensagem = error.response;
            }
        }

        async function listar() {
            var request = axios({
                "method": "get",
                "url": "/viagens/0/all"
            });

            try {
                var response = await request
                app.mensagem = response.data.viagens;
                app.payload = response;
            } catch (error) {
                app.mensagem = error.response;
            }
        }

        async function listarTabela() {
            var request = axios({
                "method": "get",
                "url": "/viagens/0/all"
            });

            try {
                var response = await request
                app.tableData = response.data.viagens;
                app.visibilidadeTab = true;
            } catch (error) {
                app.mensagem = error.response;
            }
        }

        function exibirPassageiros(id) {
            app.passageiros = app.tableData.find(viagem => {
                return viagem.id === id
            }).passageiros;
            app.visibilidadeEntrega = false;
            app.visibilidadePassageiros = true;
        }

        function exibirEntregas(id) {
            app.entregas = app.tableData.find(viagem => {
                return viagem.id === id
            }).entregas;
            app.visibilidadePassageiros = false;
            app.visibilidadeEntrega = true;
        }

        async function limpar() {
            var request = axios({
                "method": "delete",
                "url": "/viagens/0/all"
            });

            try {
                var response = await request
                app.mensagem = response.data.resultado;
            } catch (error) {
                app.mensagem = error.response;
            }
        }

        import header from "./vue/headerAdmin.js";
        Vue.component("headercomponent", header);

        // Criando appVue
        var app = new Vue({
            el: '#app',
            data: {
                id: "",
                partida: "",
                chegada: "",
                data: "",
                mensagem: "",
                maxPassageiros: "",
                mensagem: "",
                visibilidadeTab: false,
                visibilidadePassageiros: false,
                visibilidadeEntrega: false,
                tableData: [],
                passageiros: [],
                entregas: [],
            },
            methods: {
                doInserir: inserir,
                doEditar: editar,
                doRemover: remover,
                doListar: listarTabela,
                doExibirPassageiros: exibirPassageiros,
                doExibirEntregas: exibirEntregas,
                doLimpar: limpar,
            },
        })
    </script>

</body>

</html>