<!DOCTYPE html>
<html lang="en">
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.15.2/axios.js"></script>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>

    <link rel="stylesheet" href="/stylesheets/menu.css">
    <link rel="stylesheet" href="/stylesheets/forms.css">
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">

</head>

<body>
    <div id="app">

        <headercomponent></headercomponent>

        <div class="menu">
            <p>Cadastro</p>

            <form class="form" @submit.prevent>
                <div class="input">
                    <input class="input-field" type="text" id="cpf" v-model="cpf" required>
                    <label class="input-label" for="cpf">Cpf:</label>
                </div>

                <br>

                <div class="input">
                    <input class="input-field" type="text" id="nome" v-model="nome" required>
                    <label class="input-label" for="nome">Nome:</label>
                </div>

                <br>

                <div class="input">
                    <input class="input-field" type="text" id="senha" v-model="senha" required>
                    <label class="input-label" for="senha">Senha:</label>
                </div>

                <!-- <div>
                    <label for="confirmaSenha">Confirmar Senha:</label>
                    <input type="text" id="confirmaSenha" v-model="confirmaSenha" required>
                </div> -->

                <br>

                <div class="buttons">
                    <button class="button-35" @click="doEnviar">Enviar</button>
                    <button class="button-35" @click="doCancelar">Cancelar</button>
                </div>

                <br>
            </form>

            {{ mensagem }}

        </div>

    </div>

    <script type="module">
        async function enviar() {
            // Verificar se todos os campos estão devidamente preenchidos
            if (app.nome == undefined || app.nome.length == 0 ||
                app.senha == undefined || app.senha.length == 0 ||
                app.cpf == undefined || app.cpf.length == 0) {
                console.log("Campos não preenchidos de forma devida.");
                return;
            }

            // Encapsular os dados da requisição e cria a requisição
            // POST com o axios
            var data = {
                "cpf": app.cpf,
                "nome": app.nome,
                "senha": app.senha,
            };
            var request = axios({
                "method": "post",
                "url": "/cadastro",
                "data": data
            });

            // Realizar requisição de forma assíncrona
            try {
                var response = await request
                app.mensagem = response.data.resultado;
            } catch (error) {
                app.mensagem = response.data.resultado
            }
        }

        async function cancelar() {
            console.log("cancelar cadastro")
            window.open("/login", "_self");
        }

        import header from "./vue/header.js";
        Vue.component("headercomponent", header);

        // Criando appVue
        var app = new Vue({
            el: '#app',
            data: {
                nome: "",
                senha: "",
                cpf: "",
                mensagem: ""
            },
            methods: {
                doEnviar: enviar,
                doCancelar: cancelar,
            }
        })
    </script>
</body>

</html>